.acf-faq-answers {
  display: block;
  float: left;
  width: 100%;
}

.acf-faq-toggle {
  display: block;
  width: 100%;
  height: auto;
  margin-right: 10px;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.acf-faq-toggle h4 {
  color: #333333;
  display: block;
  line-height: 22px;
  padding: 10px 0;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
  padding-left: 30px;
  background-image: url('images/faq-toggle-plus.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.acf-faq-toggle p:last-of-type {
  margin-bottom: 0px;
  margin-top: 0px;
}

.acf-faq-toggle.open h4 {
  color: #000;
  background-image: url('images/faq-toggle-minus.png');
  background-position: 10px center;
  background-repeat: no-repeat;
}

.acf-faq-toggle .acf-faq-toggle-info {
  display: none;
  padding: 7px 11px;
}

.acf-faq-toggle-info hr {
    margin-bottom: 0px;
}